@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    font-family: 'roboto', sans-serif;
}
table {
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
    min-width: 500px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.selectedRow {
    background-color: yellow;
}

thead {
    background-color: #0275d8;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tr.selected {
    background-color: #b9b9b9;  
}

tbody tr:hover{
    background: #dbdbdb;
}

tbody, tr:last-of-type {
    border-bottom: 2px solid #0275d8;
}

th, td {
    padding: 5px 20px;
    text-align: left;
}

table td:nth-child(1) {
    width: 10px;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    cursor: pointer;
}

.pagination {
    margin-bottom: 30px;
}

.pagination {
    margin-left: 25px;
}

#btnShowSelectedData {
    margin-left: 150px;
}
